#increment-btn {
    padding-top: 10px;
    padding-bottom: 10px;
font-weight: bold;
border: none;
width: 200px;
margin-bottom: 5px;
border-radius: 5px;
    text-align: center;
    background-color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}