body{
    background-color:aquamarine ;
}
div{
    height: 100px;
    width: 100px;
    background: rgb(92, 92, 238);
    border: 1px solid gray;
    display: inline-block;
}
#Box1{
    position: static;
    background-image: url(jpg.1.jpg);

}
#Box2{
    position: relative;
    top: 10px;
    background-image: url(jpg.2.jpg);
}
#Box3{
 position: relative;
 bottom: 10px;
 background-image: url(png1.jpg);
}
#Box4{
 position: relative;
 top: 10px;
 background-image: url(png2.jpg);
}