body {
    background-color: rgb(249, 214, 168);
}

div {
    border: 1px solid brown;
    display: inline-block;
    height: 100px;
    width: 100px;
}

#box1 {
    position: static;
    background-color: aqua;

}

#box2 {
    position: relative;
    top: 10px;
    left: 20px;
    background-color: blueviolet;
    z-index: 1;
}

#box3 {
    position:sticky;
    top: 30px;
    background-color: burlywood;
}

#box4 {
    position: fixed;
    background-color: chartreuse;
    top: 0px;
    left: 0px;
}