body{
    background-color: cadetblue;
}
div{
    display: inline-block;
}


#box1{
    background-color: antiquewhite;
    height: 70px;
    width: 70px;
    /* position: relative;
    top: 10px; */
     text-align: center;
}
#box2{
    background-color: aqua;
     height: 70px;
    width: 70px;
     /* position: relative;
    bottom: 10px; */
     text-align: center;
}
#box3{
    background-color: aquamarine;
     height: 70px;
    width:70px;
     /* position: relative;
    top: 10px; */
     text-align: center;
}
#box4{

    background-color: azure;
     height: 70px;
    width: 70px;
     text-align: center;
     /* position: relative;
    bottom: 10px; */
}
#box5{
    background-color: brown;
     height: 70px;
    width: 70px;
    text-align: center;
     /* position: relative;
    top: 10px; */
}
#container{
   height: 300px;
   width: 300;
    border: 2px solid brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}