.body::before{
    content: '';
    background-image: url(b1.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;

}
.body{
    color: white;
}