.lala{
    border-style: dashed; width: 2px;
    padding: 30px;
    width: 40px;
    background-color: aquamarine;
    color: blue;
}
.sachin{
    border-style: dashed; width: 2px;
    padding: 30px;
    width: 40px;
    background-color: cadetblue;
    color: violet;
}
.anup{
    border-style: dashed; width: 2px;
    padding: 300px;
    width: 70x;
    background-color: chartreuse;
    color: chocolate;
  
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}
